<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8ah1nHnXZWtQpAdDlCUCRUOQgAgd5md8</string>
	<key>GCM_SENDER_ID</key>
	<string>800841885907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatMessages.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatmessages-756de</string>
	<key>STORAGE_BUCKET</key>
	<string>chatmessages-756de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800841885907:ios:244fdabb5444f39f8b0c26</string>
</dict>
</plist>